

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    height: 100vh;
    background: url(./background.jpg);
    color: #FFF;
    align-items: center;
}

header h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding-top: 20%;
}

header p {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 7%;
}

.subscribe-section{
    text-align: center;
    padding-top: 2rem;
}

.subscribe-section h2{
    margin: 40px 0px 20px 0px;
}

.subscribe-section p{
    margin: 20px;
}

.subscribe-section button {
    margin: 20px;
    padding: 10px 30px;
    background-color: #2980B9;
    color: #FFF;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color: #FFF;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal button {
    padding: 10px 30px;
    background-color: #2980B9;
    color: #FFF;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}